<template name = 'adminTemplate'>
	<h3 id='admin_welcome'>Hi, Admin!</h3>
	<ul id='users_list'>
		<h4>All users in database</h4>
		{{#each users}}
			<li class='single_user'><span class='user_email_style'>{{emails.[0].address}}</span><button type="submit" class="btn btn-default submit_button edit_user_button">edit</button> {{_id}} </li>
				<ul>
					<li class='user_attributes'><b>profile created: </b>{{createdAt}}</li>
					<li class='user_attributes'><b>username: </b>{{username}}
						<input class='user_input form-control edit_fields {{_id}} username_field' id='' type="text" name='username' placeholder="username">
						<button type="submit" class="btn btn-default submit_button edit_fields {{_id}} update_username" id=''>update</button>
					</li>
					<li class='user_attributes'><b>first name: </b>{{first_name}}
						<input class='user_input form-control edit_fields {{_id}} first_name_field' id='' type="text" name='first_name' placeholder="first name">
						<button type="submit" class="btn btn-default submit_button edit_fields {{_id}} update_first_name" id=''>update</button>
					</li>
					<li class='user_attributes'><b>last name: </b>{{last_name}}
						<input class='user_input form-control edit_fields {{_id}} ast_name_field' id='l' type="text" name='second_name' placeholder="last name">
						<button type="submit" class="btn btn-default submit_button edit_fields {{_id}} update_last_name" id='update_last_name'>update</button>
					</li>
					<li class='user_attributes' id='admin_status'><b>admin? </b>{{#if notAdmin}}false{{/if}}{{admin}}</li>
					<button type="submit" class="btn btn-default set_admin_status">change admin status</button>
					<div class='empty'></div>
				</ul>
		{{/each}}
	</ul>
</template>